*{
                               padding: 0;
                               margin: 0;
                               box-sizing: border-box;
}

body{

                               background: url(img/wallpaper2.jpeg);
                               background-repeat: repeat-y;
                               background-size: contain;
                               
                               
                               
}

.navbar {
                               overflow: hidden;
                               background-color: #fff;
                               padding-bottom: 5px;
                               height: 70px;
                             
                             }
                             .navbar ul{
                               float: right;
                               list-style: none;
                               width: 100%;
                             }
                             .navbar a {
                               float: right;
                               color: rgba(170, 150, 34, 0.603);
                               text-align: center;
                               padding: 20px 15px;
                               text-decoration: none;
                               font-size: 20px;
                               margin: 6px 14px;
                             }
                             .navbar p {
                               width: 15%;
                               float: left;
                               padding-top: 20px;
                               font-size: large;
                               color: #70543f;
                             }
                             
                             .logo {
                               float: right;
                               width: 110px;
                               margin: 5px 45px;

                             }
                             .f-parg{
                               font-size: 65px;
                               color: #fffffff6;
                               font-family: 'Aref_Ruqaa';
                               margin-top: 90px;
                               
                             
                             }
                             @font-face{
                                                            font-family: 'Aref_Ruqaa';
                                                            src: url("Aref_Ruqaa/ArefRuqaa-Bold.ttf");
                             }
                             .s-parg{
                               font-size: 35px;
                               color: #000000c2;
                               font-family: 'Aref_Ruqaa';
                               margin-top: 90px;  
                                                    
                             }
                             span{
                                                            font-size: 40px;
                                                            color: rgb(255, 255, 255);
                             }
                             .th-parg{
                               font-size: 35px;
                               color: #000000c2;
                               font-family: 'Aref_Ruqaa';
                               margin-top: 90px;                         
                             }
                             .butt{
                              background-color: rgba(170, 150, 34, 0.603);
                              width: 70px;
                              height: 20px;
                              margin-top: 30px;
                              margin-left: 80px;
                              margin-right: 9px;
                            float: right;
                            }
                            .btn{
                              position: absolute;
                              display:block;
                              top: 0;
                              left: 0;
                            }
                            
                             .d-none{ 
                               display: none;
                             }
                            
                           
                            